EMAIL_USERNAME = "your-username"
EMAIL_PASSWORD = "your-password" #i use function create app password of google https://www.google.com/search?q=how+to+create+app+password+in+gmail&oq=how+to+create+app&gs_lcrp=EgZjaHJvbWUqBwgAEAAYgAQyBwgAEAAYgAQyBggBEEUYOTIHCAIQABiABDIHCAMQABiABDIHCAQQABiABDIHCAUQABiABDIICAYQABgWGB4yCAgHEAAYFhgeMggICBAAGBYYHtIBCDYxNjBqMGoxqAIAsAIA&sourceid=chrome&ie=UTF-8
SECRET_KEY = "your-secret-key"